@use 'variables' as v;
@use 'mixins' as m;
@use 'typography';

.banner-triggers__section {
    padding: 56px 0;
    background-color: v.$color_green_700;

    .max-width {
        max-width: 2560px;
        margin: 0 auto;

        .banner-triggers {
            @include m.d-flex(start, start, nowrap, row, 24px, 0);
    
            &__wrapper {
                width: 100%;
                padding: 0 24px 0 0;
                @include m.d-flex(start, start, nowrap, column, 0, 8px);
    
                &-icon {
                    margin: 0 0 16px 0;
                    width: 32px;
                    height: 32px;
                    fill: v.$color_green_100;
                }
    
                &-title {
                    @extend %h5-white;
                }
    
                &-text {
                    @extend %body-m-500-white;
                }
            }
    
            @media (max-width: v.$media_lg) {
                &__wrapper {
                    padding: 0 16px 0 0;
                }
            }
    
            @media (max-width: v.$media_sm) {
                @include m.d-flex(start, start, nowrap, column, 0, 32px);
    
                &__wrapper {
                    padding: 0;
    
                    &-icon {
                        margin: 0 0 8px 0;
                    }
                }
            }
        }
    
        @media (max-width: v.$media_lg) {
            padding: 48px 0;
        }
    
        @media (max-width: v.$media_sm) {
            padding: 40px 0;
        }
    }
}