@use 'variables' as v;

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    background-color: v.$color_gray_100;
}

h1, h2, h3, h4, h5, h6, p, ul, button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    padding: 0 56px;
    overflow: hidden;

    @media (max-width: v.$media_lg) {
        padding: 0 24px;
    }
}

.container__left-space {
    width: 100%;
    padding: 0 0 0 56px;
    overflow: hidden;

    @media (max-width: v.$media_lg) {
        padding: 0 0 0 24px;
    }

    @media (max-width: v.$media_md) {
        padding: 0;
    }
}

.container__right-space {
    width: 100%;
    padding: 0 56px 0 0;
    overflow: hidden;

    @media (max-width: v.$media_lg) {
        padding: 0 24px 0 0;
    }

    @media (max-width: v.$media_md) {
        padding: 0;
    }
}

.container__full {
    width: 100%;
    padding: 0;
    overflow: hidden;
}