@use 'variables' as v;
@use 'mixins' as m;
@use 'typography';
@use 'buttons';

.faq__section {
    padding: 56px 0;

    .max-width {
        max-width: 2560px;
        margin: 0 auto;

        .faq {
            @include m.d-flex(space-between, start, nowrap, row, 56px, 0);

            &__left {
                width: 40%;
                @include m.d-flex(start, start, nowrap, column, 0, 16px);

                &-eyebrow {
                    @extend %eyebrow-m-light-black;
                }

                &-title {
                    @extend %h2-black;
                }

                &-text {
                    @extend %body-m-500-black;
                }

                &-btn {
                    margin: 8px 0 0 0;
                    @extend %primary-button;
                }
            }

            &__right {
                width: 50%;
                @include m.d-flex(start, start, nowrap, column, 0, 24px);

                .question {
                    width: 100%;
                    padding: 0 0 24px 0;
                    border-bottom: 1px solid v.$color_gray_300;
                    @include m.d-flex(start, start, nowrap, column, 0, 16px);

                    &__header {
                        width: 100%;
                        @include m.d-flex(start, center, nowrap, row, 16px, 0);

                        &-title {
                            width: 100%;
                            @extend %body-m-700-black;
                        }

                        &-icon {
                            display: block;
                            flex-shrink: 0;
                            width: 18px;
                            height: 18px;
                            fill: v.$color_green_800;
                        }
                    }

                    &__answer {
                        @extend %body-m-500-light-black;
                    }
                }
            }

            @media (max-width: v.$media_xl) {
                @include m.d-flex(start, start, nowrap, row, 24px, 0);

                &__left {
                    width: 50%;
                    padding: 0 32px 0 0;
                }
    
                &__right {
                    width: 50%;
                }
            }

            @media (max-width: v.$media_md) {
                @include m.d-flex(start, start, nowrap, column, 0, 32px);

                &__left {
                    width: 100%;
                    padding: 0;
                }
    
                &__right {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: v.$media_lg) {
        padding: 48px 0;
    }

    @media (max-width: v.$media_sm) {
        padding: 40px 0;
    }
}