@use 'variables' as v;
@use 'mixins' as m;
@use 'typography';
.footer__section {
    padding: 56px 0;

    .max-width {
        max-width: 2560px;
        margin: 0 auto;

        .footer {
            @include m.d-flex(start, start, nowrap, column, 0, 72px);

            .content {
                width: 100%;
                @include m.d-flex(space-between, center, nowrap, row, 24px, 0);

                &__logo {
                    width: 280px;
                    height: 24px; /* why by default 28px? */

                    &-icon {
                        width: 133px;
                        height: 24px;
                        fill: v.$color_green_800;
                    }
                }

                &__links {
                    width: 100%;
                    margin: 0 auto;

                    .list {
                        @include m.d-flex(center, start, nowrap, row, 16px, 0);

                        &__link {
                            &-item{
                                @include m.font(16px, 500, v.$color_green_800);
                                line-height: 130%;

                                &::after {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    background-color: v.$color_green_800;
                                    opacity: 0;
                                }

                                &:hover::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                &__socials {
                    width: 280px;
                    @include m.d-flex(end, start, nowrap, row, 24px, 0);

                    &-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        fill: v.$color_green_800;
                    }
                }

                @media (max-width: v.$media_md) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 24px auto;
                    row-gap: 24px;
                    column-gap: 16px;
                    align-items: start;
                    grid-template-areas: 
                    "logo links"
                    "socials links";

                    .content__logo {
                        grid-area: logo;
                    }

                    .content__links {
                        grid-area: links;
                    }

                    .content__socials {
                        grid-area: socials;
                    }

                    &__logo {
                        width: 100%;
                    }

                    &__socials {
                        width: 100%;
                        justify-content: start;
                    }

                    &__links {
                        .list {
                            @include m.d-flex(start, start, nowrap, column, 0, 16px);
                        }
                    }
                }
            }

            .bottom {
                width: 100%;
                padding: 32px 0 0 0;
                border-top: 1px solid v.$color_gray_300;
                @include m.d-flex(space-between, center, nowrap, row, 24px, 0);

                &__text {
                    @extend %body-m-500-black;
                    white-space: nowrap;
                }

                &__cards {
                    @include m.d-flex(end, center, nowrap, row, 8px, 0);

                    &-icon {
                        display: block;
                        width: 44px;
                        height: 30px;
                    }
                }
            }

            @media (max-width: v.$media_lg) {
                @include m.d-flex(start, start, nowrap, column, 0, 64px);
            }

            @media (max-width: v.$media_xs) {
                .content {
                    @include m.d-flex(center, center, nowrap, column, 0, 32px);

                    &__logo {
                        width: auto;
                    }

                    &__links {
                        .list {
                            @include m.d-flex(start, center, nowrap, column, 0, 16px);
                        }
                    }

                    &__socials {
                        @include m.d-flex(center, center, nowrap, row, 24px, 0);
                    }
                }

                .bottom {
                    @include m.d-flex(space-between, start, nowrap, column-reverse, 0, 24px);

                    &__cards {
                        @include m.d-flex(start, center, wrap, row, 4px, 0);
                    }
                }
            }
        }
    }

    @media (max-width: v.$media_lg) {
        padding: 48px 0;
    }

    @media (max-width: v.$media_sm) {
        padding: 40px 0;
    }
}