@use 'variables' as v;
@use 'mixins' as m;
@use 'typography';
@use 'buttons';

.menu__toggler {
    display: none;
  }
  
.menu__toggler:checked ~ .menu__section .menu__navigation {
    translate: 0;
}

.menu__toggler:checked ~ .header__section .nav__logo-btn-burger {
    display: none;
  }
  
.menu__toggler:checked ~ .header__section .nav__logo-btn-close {
    display: block;
}

.header__section {
    margin: 34px 0 0 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0;
    background-color: v.$color_gray_100;
    border-bottom: 1px solid v.$color_gray_300;

    .max-width {
        max-width: 2560px;
        margin: 0 auto;

        .nav {
            width: 100%;
            height: 72px;
            @include m.d-flex(space-between, center, nowrap, row, 24px, 0);

            &__logo {
                width: 224px;
                @include m.d-flex(start, center, nowrap, row, 8px, 0);

                &-btn-burger {
                    display: none;
                    padding: 16px 8px;

                    &-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        fill: v.$color_green_800;
                    }

                    @media (max-width: v.$media_md) {
                        display: block;
                    }
                }

                &-btn-close {
                    display: none;
                    padding: 16px 8px;

                    &-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        fill: v.$color_green_800;
                    }
                }

                &-link {
                    display: inline-flex;
                    width: fit-content;

                    &-icon {
                        display: block;
                        width: 133px;
                        height: 24px;
                        fill: v.$color_green_800;
                    }

                    &:hover {
                        cursor: pointer;

                        .nav__logo-link-icon {
                            fill: v.$color_green_600;
                        }
                    }

                    &:focus-visible {
                        outline: 2px solid v.$color_green_800;
                        border-radius: 2px;
                    }
                }
            }

            &__links {
                height: 100%;

                .list {
                    height: 100%;
                    @include m.d-flex(center, center, nowrap, row, 16px, 0);

                    &__item {
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        &-link {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            white-space: nowrap;
                            @extend %body-m-500-black;

                            &::after {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: v.$color_green_800;
                                @include m.position(absolute, 1, -1, bottom, left, 0, 0);
                                opacity: 0;
                            }

                            &:hover::after {
                                cursor: pointer;
                                opacity: 1;
                            }

                            &:focus-visible {
                                outline: none;
                            }

                            &:focus-visible::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .action {
                width: 224px;
                @include m.d-flex(end, center, nowrap, row, 8px, 0);

                &__btn {
                    position: relative;
                    cursor: pointer;
                    padding: 24px 8px;
                    border: none;
                    background-color: transparent;
                    
                    &-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        fill: v.$color_green_800;
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: v.$color_green_800;
                        @include m.position(absolute, 1, -1, bottom, left, 0, 0);
                        opacity: 0;
                    }

                    &:hover::after {
                        opacity: 1;
                    }

                    &:focus-visible {
                        outline: none;
                    }

                    &:focus-visible::after {
                        opacity: 1;
                    }
                }

                @media (max-width: v.$meida_xxs) {
                    a {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: v.$media_md) {
        .max-width {
            .container {
                padding: 0 16px;

                .nav {
                    height: 56px;

                    &__links {
                        display: none;
                    }

                    .action {
                        &__btn {
                            padding: 16px 8px;
                        }
                    }
                }
            }
        }
    }
}

.menu__section {
    display: none;

    .menu {
        &__navigation {
            position: fixed;
            z-index: 998;
            left: 0;
            top: 90px;
            width: 100%;
            height: calc(100vh - 90px);
            padding: 24px;
            background-color: v.$color_gray_100;

            translate: -100% 0;
            transition: translate .24s;

            @include m.d-flex(space-between, start, nowrap, column, 0, 24px);

            .list {
                @include m.d-flex(start, start, nowrap, column, 0, 4px);

                &__item {
                    width: 100%;
                    height: 38px;
                    display: flex;
                    align-items: center;

                    &-link {
                        width: 100%;
                        padding: 8px 0;
                        display: flex;
                        align-items: center;
                        @extend %body-m-500-black;
                    }
                }
            }

            .button {
                width: 100%;
                @include m.d-flex(start, center, nowrap, column, 0, 16px);
                display: none;

                &__primary {
                    width: 100%;
                    margin: 0 0 8px 0;
                    @extend %primary-button;
                }

                &__hint {
                    @extend %body-m-500-light-black;
                }

                &__secondary {
                    width: 100%;
                    @extend %secondary-button;
                }

                @media (max-width: v.$meida_xxs) {
                    display: flex;
                }
            }
        }
    }

    @media (max-width: v.$media_md) {
        display: block;
    }
}