@use 'variables' as v;

@mixin font($size: 16px, $weight: 400, $color: #000, $style: normal) {
    font: {
        size: $size;
        weight: $weight;
        style: $style;
    }
    color: $color;
}