@use 'variables' as v;

@mixin font($size: 16px, $weight: 400, $color: #000, $style: normal) {
    font: {
        size: $size;
        weight: $weight;
        style: $style;
    }
    color: $color;
}

@mixin d-flex($justify: center, $align: center, $wrap: nowrap, $direction: row, $column-gap: 0, $row-gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
    column-gap: $column-gap;
    row-gap: $row-gap;
}