$font-heading: "Instrument Serif", serif;
$font-body: "Inter Tight", sans-serif;
$font-eyebrow: "Fragment Mono", monospace;

$color_base_white: #fff;
$color_base_black: #000;
$color_base_success: #1CCA00;
$color_base_error: #EA201F;
$color_base_warning: #F6A429;

$color_gray_100: #F9F9F9;
$color_gray_200: #EFEFEF;
$color_gray_300: #CFCFCF;
$color_gray_300: #AFAFAF;

$color_green_100: #F6F7EF;
$color_green_200: #E9F0CA;
$color_green_300: #D2D8D0;
$color_green_400: #BBC3B8;
$color_green_500: #A5B0A2;
$color_green_600: #45663C;
$color_green_700: #1C3A13;
$color_green_800: #162E0F;